.tags_view_container {
  line-height: 34px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #d8dce5;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
  position: relative;
}
.tags_view_container .tags_view_wrapper .tags_view_item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  border: 1px solid #d8dce5;
  color: #495060;
  background: #fff;
  padding: 0 8px;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 4px;
}
.tags_view_container .tags_view_wrapper .tags_view_item:first-of-type {
  margin-left: 15px;
}
.tags_view_container .tags_view_wrapper .tags_view_item:last-of-type {
  margin-right: 15px;
}
.tags_view_container .tags_view_wrapper .tags_view_item.active {
  background-color: #1890ff;
  color: #fff;
  border-color: #1890ff;
}
.tags_view_container .tags_view_wrapper .tags_view_item.active::before {
  content: "";
  background: #fff;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  margin-right: 2px;
}
.tags_view_container .contextmenu {
  margin: 0;
  background: #fff;
  z-index: 3000;
  position: absolute;
  list-style-type: none;
  padding: 5px 0;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
}
.tags_view_container .contextmenu li {
  margin: 0;
  padding: 2px 16px;
  line-height: 24px;
  cursor: pointer;
}
.tags_view_container .contextmenu li:hover {
  background: #eee;
}
.el_icon_close {
  margin-left: 4px;
}
